* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 nav {
     height: 80px;
     background: #FFBCDC;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0rem calc((100vw - 1300px) / 2);
 }
 
 .logo {
     color: #000;
     font-size: 1.5rem;
     font-weight: bold;
     font-style: italic;
     padding: 0 2rem;
 }
 
 .logo:hover {
     color: #fff;
 }
 
 nav a {
     text-decoration: none;
     color: #151010;
     padding: 0 1.5rem;
 }
 
 nav a:hover {
     color: #fff;
 }

 body {
    background: #FFBCDC;
 }

 body.modal-open {
   overflow: hidden;
 }

 .container .heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin: 2rem 0;
    color: #000;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
 }

 .video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 .video-container .video{
    aspect-ratio: 5 / 3;
    width: 25rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    flex-shrink: 0;
 }

 .video-container .video video{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform .2s linear;
 }

 .video-container .video video:hover{
    transform: scale(1.1);
 }

 .video-container .video.active video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .7);
    z-index: 999;
    border-radius: 1rem;
 }

 .video-container .video.active video:hover{
    transition: none;
    transform: translate(-50%, -50%) scale(1);
 }

 .close-btn {
   position: absolute;
   top: 1rem;
   right: 1rem;
   font-size: 2rem;
   color: #fff;
   background: rgba(0, 0, 0, .5);
   border-radius: 50%;
   padding: 0.2rem 0.6rem;
   cursor: pointer;
   z-index: 1000;
   display: block !important;
 }

.video.active .close-btn {
   display: block;
 }