* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 nav {
     height: 80px;
     background: #FFBCDC;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0rem calc((100vw - 1300px) / 2);
     position: relative;
 }
 
 .logo {
     color: #000;
     font-size: 1.5rem;
     font-weight: bold;
     font-style: italic;
     padding: 0 2rem;
 }
 
 .logo:hover {
     color: #fff;
 }
 
 nav a {
     text-decoration: none;
     color: #151010;
     padding: 0 1.5rem;
 }
 
 nav a:hover {
     color: #fff;
 }

 body {
    background: #FFBCDC;
 }


 .img-gallery {
    width: 50%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
 }

 .img-gallery img{
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
 }



.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
       flex-direction: column;
       height: auto;
       padding: 1rem 0;
    }
 
    .logo {
       font-size: 1.2rem;
       padding: 1rem;
       text-align: center;
       width: 100%;
    }
 
    .nav-items {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }
 
    nav a{
       padding: 0.5rem 0;
       text-align: center;
       width: 100%;
    }
  }

  @media (min-width: 1300px) {
    nav {
       padding: 0rem calc((100vw-1300px)/2);
    }
  }